<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Pattern Collider</title>

  <meta name="viewport" content="width=device-width,  initial-scale=1.0">
  <meta name="description" content="Create & Explore Infinite Tiling Patterns">
  <meta name="author" content="Aatish Bhatia">

  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- Load in libraries here -->
  <script src="libraries/vue.dev.js"></script>
  <script src="libraries/p5.min.js"></script>
  <script src="libraries/hsluv.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 
</head>

<body>

<div id="root"> <!-- Vue can only access things contained within this div -->

  <header>
    <!-- Tiloscope / Pattern Scope / Pattern Prism / Pattern Collider / Prismatic / Infini-tile / Tilomatic -->
    <h1>Pattern Collider</h1>
  </header>

  <main>

    <div class="half">
      <div>Grid</div>
      <div class="stretch">
        <p5 src="./drawGrid.js"
        :style="{display: canvasDisplaySetting}"
        :data="{
          grid: grid,
          steps: steps,
          multiplier: multiplier,
          intersectionPoints: intersectionPoints,
          showIntersections: showIntersections,
          zoom: zoom,
          selectedLines: selectedLines,
          selectedTiles: selectedTiles,
          display: canvasDisplaySetting,
          rotate: rotate
        }"
        v-on:update:selected-lines="selectedLines = $event"
        v-on:update:resize-completed="canvas1Resized = true"
        ></p5>
      </div>
    </div>

    <div class="half">
      <div>Tiling</div>
      <div class="stretch">
        <p5 src="./drawTiles.js"
        :style="{display: canvasDisplaySetting}"
        :data="{
          tiles: intersectionPoints,
          steps: steps,
          multiplier: multiplier,
          zoom: zoom,
          colorTiles: colorTiles,
          colors: colors,
          selectedLines: selectedLines,
          selectedTiles: selectedTiles,
          display: canvasDisplaySetting,
          symmetry: numGrids,
          stroke: stroke,
          rotate: rotate,
          orientationColoring: orientationColoring
        }"
        v-on:update:selected-tiles="selectedTiles = $event"
        v-on:update:resize-completed="canvas2Resized = true"
        ></p5>
      </div>
    </div>

    <div id="corner" v-if="selectedTiles.length > 0 || selectedLines.length > 0">
        <button @click="clearSelection">Clear Selection</button>
    </div>

  </main>

  <footer>
      
    <div class="menu">
      <button @click="mode = 'settings'">⚙️</button>
      <button @click="mode = 'design'">🖌</button>
      <button @click="mode = 'save'">💾</button>
    </div>

    <div v-if="mode == 'settings'" class="grid">
      <div>
        <input class="slider" type="range" id="numGrids" v-model.number="numGrids" min="3" max="19" step="1"></input>
        <label for="numGrids"><span class="dotted">{{ numGrids }}</span> Fold Symmetry</label>       
      </div>
      <div>
        <input class="slider" type="range" id="offset" v-model.number="offset" min="0" max="1" step="0.01"></input>
        <label for="offset">Pattern:  <span class="dotted">{{ offset }}</span></label>        
      </div>
      <div>
        <input class="slider" type="range" id="phase" v-model.number="phase" min="0" max="1" step="0.01"></input>
        <label for="phase">Shift:  <span class="dotted">{{ phase }}</span></label>        
      </div>
      <div>
        <input class="slider" type="range" id="radius" v-model.number="radius" min="0" max="3.5" step="0.1"></input>
        <label for="radius">Radius</label>        
      </div>
      <div>
        <input class="slider" type="range" id="zoom" v-model.number="zoom" min="0.25" max="2" step="0.01"></input>
        <label for="zoom">Zoom</label>        
      </div>
      <div>
        <input class="slider" type="range" id="rotate" v-model.number="rotate" min="-180" max="180" step="1"></input>
        <label for="rotate">Rotate: {{rotate}}°</label>        
      </div>
    </div>

    <div v-if="mode == 'design'" class="grid">
      
      <div>
        <button @click="randomizeColors">Random Colors</button>
      </div>

      <div>
        <div>Fill</div>
        <div class="row">
          <label v-for="tile in visibleTiles">
            <svg height = "50" width="50">
              <polygon :points="SVGPoints(tile)" :style="SVGStyle(tile)">
            </svg>
            <input type="color" class="colorpicker" v-model="tile.fill"> 
          </label>
        </div>
      </div>

      <div>
        <label for="numGrids">Stroke:  <span class="dotted">{{ stroke }}</span></label>       
        <input class="slider" type="range" id="stroke" v-model="stroke" min="0" max="255" step="1"></input>
      </div>

      <div>
        <div>
          <label for="colorTiles">Color Tiles</label>
          <input type="checkbox" id="colorTiles" v-model="colorTiles" class="checkbox">
        </div>
      </div>

      <div>
        <div>
          <label for="showIntersections">Intersections</label>
          <input type="checkbox" id="showIntersections" v-model="showIntersections" class="checkbox">
        </div>
      </div>

      <div>
        <div>
          <label for="orientationColoring">Color Using Tile Orientation</label>
          <input type="checkbox" id="orientationColoring" v-model="orientationColoring" class="checkbox">
        </div>
      </div>

    </div>

    <div v-if="mode == 'save'" class="grid">
     </div>

  </footer>


</div>

<script src="vue-definitions.js"></script>

</body>
</html>