html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: rgb(255, 190, 137);
  background-color: rgb(0,0,51);
  /* anti-aliasing for crisper fonts */
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

canvas {
	display: block;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	padding: 1rem;
  flex: 1 1 0;
}

main {
  flex: 6 1 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 1rem;
	padding-top: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.half {
	flex: 1;
	min-width: 300px;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center
}

.half > div:nth-child(2) {
	width: 100%;
	height: 100%;
}

.half > div:nth-child(1) {
	text-align: center;
	padding-bottom: 0.5rem;
}

.half h3 {
	font-weight: 600;
}


footer {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;

	padding: 1rem;
  padding-top: 0rem;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', 'Tinos', sans-serif;
  line-height: 1.1;
  color: rgb(255, 190, 137);
  margin-top: 0.25rem;	
  margin-bottom: 0.25rem;	
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
}

h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 3px;  
  background: rgb(85, 56, 100);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 0.5rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  border-color: rgb(40, 32, 68);
  background: rgb(254, 199, 81);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: rgb(40, 32, 68);
  background: rgb(254, 199, 81);
  cursor: pointer;
}

.slider:hover {
  background: rgb(69,10,76);;
}

button {
  font-size: 1rem;
  font-weight: 100;

  text-align: center;
  text-decoration: none;

  transition-duration: 0.4s;

  background-color: rgb(85, 56, 100);
  color: rgb(254, 199, 81);
  border: 0.125rem solid rgb(85, 56, 100);
  border-radius: 0.25rem;
}

button:hover {
  background-color: rgb(69,10,76);
  border: 0.125rem solid rgb(69,10,76);
  color: rgb(254, 199, 81);
}


.grid {
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.grid > div {
	width: 8rem;
	padding: 1rem;
	text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dotted {
  border-bottom: dotted 2px rgba(255, 190, 137, 0.5);  
}

.menu {
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html, body {
    height: 100%;
    width: 100%;
  }

  .half {
    height: 300px;
  }

  .menu {
    flex-direction: row;
    width: 100%;
    padding-bottom: 0.5rem;
  }

  main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;    
  }

  footer {
    flex-direction: column-reverse;
  }

} 